/*cabeçalho*/

#logo{
    width: 100px;
    height: 100px;
}
 
/*Conteudo principal*/

/*banner*/

/*Produtos vendidos*/

.card-img-top{
    height: 300px;
}

/*Rodapé*/

/*Botão Voltar topo*/

/* página de login  */


/* Formulário de cadastro*/

