<main>
    <section id="section-banner">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/img/banner1.png" class="d-block w-100" alt="Promoção de Jogo">
              </div>
              <div class="carousel-item">
                <img src="../../assets/img/banner2.png" class="d-block w-100" alt="Promoção de Jogo">
              </div>
              <div class="carousel-item">
                <img src="../../assets/img/banner3.png" class="d-block w-100" alt="Promoção de Jogo">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>
    <h2 class="title">Jogos em Promoção</h2>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="../../assets/img/jogo1.png" alt="Jogo 01">
                <mat-card-header class="header-card">
                    <mat-card-title>Super Mario World</mat-card-title>
                    <mat-card-subtitle>Nintendo</mat-card-subtitle>
                    <span class="example-spacer"></span>
                    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Super Mario é uma série de jogos eletrônicos de plataforma, criada pela Nintendo, baseada e estrelada pelo encanador fictício Mario.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <span>R$250,00</span>
                    <span class="example-spacer"></span>
                    <button mat-raised-button color="primary">Comprar</button>
                </mat-card-actions>
              </mat-card>    
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="../../assets/img/jogo2.PNG" alt="Jogo 02">
                <mat-card-header class="header-card">
                    <mat-card-title>Flap Bird</mat-card-title>
                    <mat-card-subtitle>Inc. Games</mat-card-subtitle>
                    <span class="example-spacer"></span>
                    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Super Mario é uma série de jogos eletrônicos de plataforma, criada pela Nintendo, baseada e estrelada pelo encanador fictício Mario.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <span>R$ 350,00</span>
                    <span class="example-spacer"></span>
                    <button mat-raised-button color="primary">Comprar</button>
                </mat-card-actions>
              </mat-card>    
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="../../assets/img/jogo3.png" alt="Jogo 03">
                <mat-card-header class="header-card">
                    <mat-card-title>Super Mario World</mat-card-title>
                    <mat-card-subtitle>Nintendo</mat-card-subtitle>
                    <span class="example-spacer"></span>
                    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Super Mario é uma série de jogos eletrônicos de plataforma, criada pela Nintendo, baseada e estrelada pelo encanador fictício Mario.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <span>R$ 200,00</span>
                    <span class="example-spacer"></span>
                    <button mat-raised-button color="primary">Comprar</button>
                </mat-card-actions>
              </mat-card>    
        </mat-grid-tile>
    </mat-grid-list>
</main>